*{
    
margin:0px;
padding:0px;
box-sizing:border-box;

}
body{
     background:#ecf0f1;
}

/* CSS FOR HEADER*/

header {
   border-radius: 10px;
    background:url('/images/header.jpg')

}



#logo {
    width: 150px;
    display:block;
    margin:auto;
}


.navkey{
     background-color:rgb(252, 144, 3);
     border-radius:10px;
     width:50%;
     margin:auto;
}


.navkey ul li{
     list-style-type: none;
     display:inline-block;
     margin: 20px 27px;

}


.navkey ul li a{
     color:black;
     text-decoration: none;
     font-size:20px;
     font-family: system-ui;

}
.navkey ul li a:hover{
     background-color:#eee;
     border-radius:4px;
     transition:0.9s;
}


/* CSS for  container  */
h1{
     text-align:center;
     margin:40px 0px;
     cursor: pointer;
     letter-spacing: 7px;
}
.container{
     
     display:flex;
     margin:48px 50px;
     
}
.column0{
     
     padding:45px;
     margin:0px 30px;
}

#space{
     font-size:30px;
     border-radius:50px;
     margin-top:46px;
     width:450px;
     height:400px;
     box-shadow:12px 16px #7f8c8d;
     background-color:#eee;
}
#cloth{
     background:url('/images/cloth.jpg');
     background-size:cover;
     border-radius:20px;
     width:764px;
     height:500px;
     font-size:30px;
     text-align:center;
     font-family:monospace;
     opacity: 72%;
}


/* CSS for  Slider  */
h3{
     margin:25px;
     font-size:37px;
     font-family:Didot, serif;
     font-weight:300;
     text-align:center;
}
.maindiv{
     width:80%;
     height:400px;
     position:relative;
     font-size:45px;
     left:10%;
     border-radius:10px;
     background-image:url('/images/slides1.jpg');
     background-size:100% 100%;
     box-shadow:1px 2px 10px 5px white;
     animation:slider 9s infinite linear;

 }
 @keyframes slider{
      0%   {background:url('/images/slides2.jpg');}
     
     50%  {background:url('/images/slides3.jpg');}
     75%  {background:url('/images/slides4.jpg');}
     100% {background:url('/images/slides5.jpg');}
 }

 /*CSS FOR BOXES*/

.boxes{
    display:flex;
    height:450px;
    margin-top:40px;
    

}
.box{
     border:2px solid black;
     margin:25px;
     box-shadow:6px 2px  #2c3e50;
     border-radius:50px 20px;
     
}

/*FOR FOOTER */



footer{
     background:whitesmoke;
     position:relative;
     bottom:0px;
     z-index:9999;


}
.foot{
     display: flex;
}
.contact{
     display:flex;
}
.fb,.insta,.gmail{
     padding:10px;
}
.copyright{
     position:relative;
     left:40%;
     padding-top:20px;
}


